@import "fonts.css";

body {
    background-color: #ecf3ff;
}

body, input, button, select {
    font-family: Peridot;
    font-size: 20px;
}

a, a:visited, a:hover {
    color: #000000;
    text-decoration: none;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}

select {
    display: block;
}

input[type="text"], select {
    border: 0;
    outline: 1px solid #000000;
}

button {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 20px;

    font-size: 18px;
    background-color: #ffffff;
    border-radius: 20px;
    outline: 0;
    border: 0;
}

button:hover {
    background-color: #e5e5e5;
}

button:focus {
    outline: 1px solid #808080;
}

button > span {
    display: block;
    margin: auto;
}

button.primary {
    background-color: #d0dfff;
}

button.primary:hover {
    background-color: #bfd2ff;
}

button.secondary {
    background: #ffffff;
}

button.secondary:hover {
    background-color: #e3e3e3;
}

.horizontal {
    margin-left: auto;
    margin-right: auto;
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 1280px;
    margin: 20px auto 0 auto;
}

.container {
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
}

.container.error {
    background-color: red;
    color: white;
}